@import url('https://fonts.googleapis.com/css?family=Ranga');
@import url('https://fonts.googleapis.com/css?family=Ranga|Roboto');

body {
    line-height: 17px;
    /* background-color: #e6eae8; */
    background-color: #f8faf7;
}

a {
    text-decoration: none;
    color: #121212;
}

.top-bar {
    width: 100%;
    min-width: 1050px;
    height: 60px;
    background-color: #00BCD4;
    border-bottom: 1px solid #fff;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a {
    font-family: 'Ranga', cursive; 
    margin-left: 10px;
    text-shadow: #ccc 0.5px 0.5px 0px;
    font-size: 30px;
    position: relative;
    top: 20px;
    text-decoration: none;
    color: #fff;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 20px;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin-left: 5px;
} 

nav a:hover {
    color: #fff;
}

.wrapper {
    margin: 0 auto;
    top: 70px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column {
    background-color: #fff;
    padding: 10px;
    /* border: 1px solid #d3d3d3; */
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 #ccc;
    z-index: -1;
}

.user-details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
}

.user-details-left-right {
    width: 125px;
    display: inline-block;
    position: absolute;

}

.user-details img {
    height: 125px;
    border-radius: 2px;
    margin-right: 0.9rem; 
}

.main-column {
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 160px;
}

.post-form {
    width: 100%;
}

.post-form textarea {
    width: 81%;
    height: 60px;
    border-radius: 2px;
    margin-right: 5px;
    border: 1px solid #d3d3d3;
    font-size: 14px;
    color: rgb(34, 34, 34);
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    resize: vertical;
}

.post-form textarea:focus {
    outline: none;
    border: 1px solid #00BCD4;
    border-radius: 8px;
    padding: 8px;
}

.post-form input[type="submit"] {
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 2px;
    background-color: #00BCD4;
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    outline: 0;
    margin: 0;
}

.post-form input[type="submit"]:active {
    padding: 5px 4px 4px 5px;
}

.status-post {
    width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
    cursor: pointer;
}

.post-profile-pic {
    float: left;
    margin-right: 10px;
}

.post-profile-pic img {
    border-radius: 50px;
}

#post-body {
    margin: 7px 0;
}

#comment_iframe {
    max-height: 250px;
    width: 100%;
    background-color: #fff;
    margin-top: 5px;
}

.comment_section {
    padding: 0 5px 5px 5px;
    background-color: #fff;
}

.comment_section img {
    margin: 0 7px;
    border-radius: 50%;
}

#comment_form textarea {
    border-color: #d3d3d3;
    width: 85%;
    height: 35px;
    border-radius: 2px;
    color: #121212;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: 3px 3px 3px 7px;
    resize: vertical;
    outline: none;
}

#comment_form input[type="submit"] {
    border: none;
    background-color: #00BCD4;
    color: #fff;
    font-size: 110%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border-radius: 2px;
    width: 13%;
    height: 40px;
    margin-top: 3px;
    position: absolute;
    cursor: pointer;
}

.NewsFeedPostOptions {
    padding: 0;
    text-decoration: none;
    color: #00BCD4;
    border: none;
}

.NewsFeedPostOptions iframe {
    border: 0px;
    height: 17px;
    width: 120px;
}

.comment_like {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #00BCD4;
    padding: 0;
    height: auto;
    width: auto;
    margin: 0;
    cursor: pointer;
}

.like_value {
    display: inline;
    font-size: 14px;
    color: #00BCD4;
}

.profile_left {
    /* top: -10px; */
    width: 25%;
    max-width: 500px;
    min-width: 130px;
    height: 100vh;
    float: left;
    position: relative;
    top: -10px;
    background-color: #fff;
    /* border: 2px solid #00BCD4; */
    /* border-right: 3px solid #008192; */
    box-shadow: 0 1px 1px 0 #ccc;
    color: #333;
    margin-right: 20px;
}

.profile_left img {
    min-width: 80px;
    width: 55%;
    margin: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
}

.profile_info {
    width: 100%;
    padding: 10px 0;
}

.profile_info p {
    margin-left: 20px;
    word-wrap: break-word;
}

.danger {
    background-color: #e74c3c;
}

.warning {
    background-color: #f0ad4e;
}

.default {
    background-color: #bdc3c7;
}

.success {
    background-color: #2ecc71;
}

.info {
    background-color: #3498db;
}

.deep_blue {
    background-color: #0043f0;
}

.profile_left input[type="submit"] {
    /* background-color: #00BCD4; */
    /* padding: 12px 24px; */
    width: 55%;
    height: 40px;
    border-radius: 2px;
    border: none;
    margin: 5px 0 7px 20px;
    color: #fff;
    font-family: 'Ranga', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}



#accept_button {
    background-color: #00BCD4;
    padding: 5px 10px;
    border: 1px solid #00BCD4;
    border-radius: 2px;
    margin: 5px 10px 10px 0px;
    color: #fff;
    font-family: 'Ranga', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    cursor: pointer;
}

#ignore_button {
    padding: 5px 10px;
    border: 1px solid #00BCD4;
    border-radius: 2px;
    margin: 5px 0px 10px 0px;
    color: #333;
    font-family: 'Ranga', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    cursor: pointer;
}

#modal_post_button {
    background-color: #00BCD4;
    padding: 8px 20px;
    border: 1px solid #00BCD4;
    border-radius: 2px;
    margin: 5px 0px 10px 0px;
    color: #fff;
    font-family: 'Ranga', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    cursor: pointer;
}

#modal_cancel_button {
    background-color: transparent;
    padding: 8px 20px;
    border: 1px solid #00BCD4;
    border-radius: 2px;
    margin: 5px 5px 10px 0px;
    color: #333;
    font-family: 'Ranga', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    cursor: pointer;
}